@import "root";
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');


.sidebar-right{
    padding: 5vh;
    grid-area: sidebar-right;
}

.sidebar-right .text-content{
    border-radius: 5px 5px 0 0;
    width: 60%;
    background-color: rgb(62, 57, 70);
    padding: 3vh;
    font-family: Roboto,Segoe UI,Arial,sans-serif;
}
.sidebar-right .text-content h3{
    padding-top: 1vh;
    color: map-get($map:$variable , $key: "light" );
    padding-left: 2vh;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.content-image{
    border: 3px solid rgb(77, 71, 75);
}
.content-image nav{
    padding: 20px 0;
}

.content-image button{
    margin: 2vh 3vh;
    color: map-get($map:$variable , $key: "light" );
}

.content-image iframe{
    width: 100%;
}

.text-update{
    color: map-get($map:$variable , $key: 'light' );
    font-family: "Droid-Sans"sans-serif;
}


.text-content-top h3{
    color: map-get($map:$variable , $key: "light" );
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
     background-color: rgb(63, 62, 65);
}

.text-update h4{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(230, 220, 220);
    margin-bottom: 5vh;
}

.text-update p{
    margin-left: 7%;
    width: 90%;
}

.text-update span{
    padding-left: 5vh;
}

.content-episode img{
    width: 100%;
}
.menu-episode{
    width: 100%;
}
.menu-episode .content-menu{
    font-size: 20px;
    font-size: 600;
    padding: 5px 20px;
    margin: 1vh 0 3vh 0;
    background-color: aliceblue;
    color: map-get($map:$variable , $key: 'dark' );
}

.content-text{
   padding:10px;
   background-color: rgb(63, 62, 65);
}

.content-episode .content-text{
    color: map-get($map:$variable , $key: 'light' );
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
}
.link-episode{
    justify-content: space-around;
    display: flex;
    background-color: rgb(209, 212, 35);
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

.link-episode:hover{
    background-color: map-get($map:$variable , $key: 'light' );
}
.link-episode a{
    text-decoration: none;
    list-style: none;
    color: map-get($map:$variable , $key: 'dark');
}
.link-episode h4{
    font-size: 20px;
}

.content-info .text-sinopsis h4{
    padding: 15px;
    background-color: rgb(131, 88, 33);
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: map-get($map:$variable , $key: 'light' );
}

.content-sinopsis{
    padding: 20px;
}
.content-sinopsis p{
    color: map-get($map:$variable , $key: 'light' );
    font-size: 16px;
    font-weight: 500;
}